* {
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;   
    text-transform: uppercase; 
    background-color: #f1f7ed;  
    
}   


.logo{
    display:flex;   
    float: left;
    height: 150px;
}

.logo img {
    padding-right: 100px;
    
}   



header {
    display: flex;
    justify-content: space-between;
    background-color: #243e36;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    list-style: none;
    min-height: 70px;
    
       
    /* height: 75vh;
    background-image: linear-gradient(120deg, rgb(0, 0, 0) 0%, #96e6a100 100%),url(../assets/mate-header.jpeg);
    background-repeat: no-repeat;
    background-size:cover; */

}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px;
}

a:hover{background-color: white;}

#pie_pagina {
    background-color: black;
    width: 100%;
    color:white;
}

.contenedor_footer{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
}

.tarjetaimg {
    display: block;
    float: left;
    margin: 0px 5px 5px 0px;
    padding: 5px;
    list-style: none;
}

.footer_redes{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 10px;
    color: white;
    margin-right: 15px;
    background-color: #252525;
    text-align: center;
    transition:  all 300ms ease;
}


.footer_redes a:hover {
    color:aqua;
}
.footer_datos {
    display: inline-block;
    flex-wrap: nowrap;
    text-decoration: none;
    line-height: 10px;
    color: white;
    background-color: #000000;
    margin-top: 0px;
    text-align: center;
    transition:  all 300ms ease;
}
.marca {
    width: 100%;
    background-color: #243e36;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.contacto {
    list-style-type: none;
}

.datos {
    margin-top: 0px;
    display: inline-block;
}

.datos a:hover {
    background-color: #243e36
}


/*tamaño ipad mini (768x1024)*/
@media (max-width:768px){ 
    .contenedor_footer{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        padding: 10px 0px;
    }

}
    
 
/*tamaño samsung s8+ (360x740)*/
@media (max-width:360px){ 
    .contenedor_footer{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 10px 0px;
    }

  
    
}