* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.slider {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

/*Animación*/
.slider ul {
    display: grid;
    grid-template-columns: 100% 100% 100%;
    width: 100%;

animation: slide 20s infinite linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 0%;

}

@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
   
}
