html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 5.5rem;
    font-family: 'Bangers', cursive;
}

h2 {
    font-size: 3.5rem;
    font-family: 'Bangers', cursive;
}

p {
    font-size: 1.7rem;
}

.contenedor {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
}

.envioCorrecto {
    color: #0ce42c
}

.optionDefault {
    color: gray
}

article {
    height: auto;
    overflow: hidden;
    border: 1pxsolidrgba(44,51,88,.08);
    border-radius: 8px;
    position: relative;
    background-color:#9ca597;
    transition: box-shadow .6s;
    margin: 30px 10px 0px 20px;
    padding: 10px 50px 10px 50px;
}

.form-nombre{
    width: 200px;
}
.form-telefono{
    width: 200px;
}
.form-email{
    width: 200px;
}
.form-comentario{
    width: 500px;
    height: 80px;
}


.contenedor1{
    height: auto;
    overflow: hidden;
    border: 1pxsolidrgba(44,51,88,.08);
    border-radius: 8px;
    position: relative;
    background-color:#e3f1da;
    transition: box-shadow .6s;
    margin: 30px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

.contenedor2{
    height: auto;
    overflow: hidden;
    border: 1pxsolidrgba(44,51,88,.08);
    border-radius: 8px;
    position: relative;
    background-color:#e3f1da;
    transition: box-shadow .6s;
    margin: 30px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.btn{
    color: white;
    background: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 12px;
}

.conversor-imagen{
    width: 150px;
}

.moneda{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moneda select{
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.moneda input {
    border: 0;
    font-size: 30px;
    text-align: right;
}

.taza-cambio-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cambio{
    color: var(--primary-color);
    font-size: 14px;
    padding: 0 10px;
    font-weight: 600;
}

select:focus, input:focus, button:focus{
    outline: 0;
}


@media (min-width:768px) {
    .con-sidebar {
        display: flex;
        justify-content: space-between;
    }
    aside {
        flex-basis: calc(33.3% - 2rem);
    }
    article {
        flex-basis: calc(66.7% - 2rem);
    }
}
@media (max-width:950px){
    .form-comentario{
        width: 350px;
        height: 80px;
    }
}
@media (max-width:500px){
    .form-comentario{
        width: 200px; 
    }
    .h1{
        font-size: 4rem;
    }
}
@media (max-width:360px){ 
    .imgformulario {
        height: 250px;
        width: 450px;
}
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.2rem;
    }
    p{
        font-size: 1.3rem;
    }
}