* {
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;   
    text-transform: uppercase; 
    background-color: #f1f7ed;  
    
}   


.logo{
    display:flex;   
    float: left;
    height: 150px;
}

.logo img {
    padding-right: 100px;
    
}   



header {
    display: flex;
    justify-content: space-between;
    background-color: #243e36;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    list-style: none;
    min-height: 70px;
       
    /* height: 75vh;
    background-image: linear-gradient(120deg, rgb(0, 0, 0) 0%, #96e6a100 100%),url(../assets/mate-header.jpeg);
    background-repeat: no-repeat;
    background-size:cover; */

}

a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px;
}

a:hover{background-color: white;}

#pie_pagina {
    
    background-color: black;
    width: 100%;
    color:white;
}

.contenedor_footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.tarjetaimg {
    width: 70px;
    height: 30pxpx;
    margin: 5px 5px 5px 5px; 
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    list-style: none;
}

.footer_redes{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 10px;
    color: white;
    margin-right: 15px;
    background-color: #252525;
    text-align: center;
    transition:  all 300ms ease;
}

.footer_redes a:hover {
    color:aqua;
}

.marca {
    width: 100%;
    background-color: #243e36;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

#motivoError{
    color: red;
}
#correoError{
    color: red;
}

@media (max-width:700px){
    header{
        flex-direction: columns;

    }

    nav {
        padding: 10px 0px;
    }
}   