* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;    
    font-weight: bold;
    background-color:beige
    
    
}

.encabezado{
    display: flex;
    align-items: center;
   
   
}








