header {
    
    height: 75vh;
    background-image: linear-gradient(120deg, rgb(0, 0, 0) 0%, #96e6a100 100%),url(../assets/mate-header.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
   
       
} 


.contenido {
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);    
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    justify-content: space-evenly;
       
}


.contenedor-producto {
    margin: 30px;
    padding: 1px 10px;
    display: grid;
    grid-template-columns: 3,1fr;
    cursor:pointer;
    border-style:none
       
}

.contenedor-producto img{
    width: 280px;
    justify-content:center;
    display: block;
    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
     
    
}

.contenedor-producto:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contenedor-producto h3{
    text-align: center;
    
}
  
.button-comprar-add:hover {
    background-color: rgb(0, 126, 48);
    color: white;
}

.button-comprar-add{    
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background-color: white;;
    color: black;
    border: 2px solid green;
    border-radius: 8px;
    padding: 10px;
    
}

.precio {
    text-align: center;
    padding: 50px;
    
}

