#container {
    width: 90%;
    margin: 0px auto;
}

article h1{
    background-size:contain;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#contenido{
    width: 90%;
    max-width: 1200px;
    display: grid;
    margin: auto;
    padding: 15px 0;
}
    
article ul{
    list-style: none;
}

#img-cuidado{
    text-align: center;
    padding: 0%;
    margin: 20px 15px;
}