<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Catalogo</title>
    <link rel="stylesheet" href="../css/styles-catalogo.css">"
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
    <div class="page-nav"></div>
        <img src="../assets/logo3.svg" alt="logo">

        <div class="container-icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
              </svg>
        </div>
    </header>

    
    <div class="contenido">
        <div class="producto">
            <h3>Mate Clasico De Acero Inoxidable Termico</h3>
            <img src="../assets/mate1.jpg">
            <h3 class="precio">$3.732</h3>
            <button class="button-add">Agregar al carrito</button>
        </div>

    
        <div class="producto">
            <h3>Mate Imperial Cuero Virola Alpaca + Bombilla Regalo Premium</h3>
            <img src="../assets/mate2.jpg">
            <h3 class="precio">$7.699</h3>
            <button class="button-add">Agregar al carrito</button>
        </div>

        
        <div class="producto">
            <h3>Mate Cuero Natural Reforzado + Bombilla</h3>
            <img src="../assets/mate3.jpg">
            <h3 class="precio">$2.790</h3>
            <button class="button-add">Agregar al carrito</button>
        </div>

    
        <div class="producto">
            <h3>Termo Stanley Clásico 1.4 LTS con Tapón Cebador de acero inoxidable</h3>
            <img src="../assets/termo stanley.jpg">
            <h3 class="precio">$22999</h3>
            <button class="button-add">Agregar al carrito</button>
        </div>

        <div class="producto">
            <h3>Matelisto Termo Autocebante</h3>
            <img src="../assets/mate 4 auto cebante.jpg">
            <h3 class="precio">$1.565</h3>
            <button class="button-add">Agregar al carrito</button>
        </div>
        
    
        <div class="producto">
            <h3>Set Equipo Mate Completo Termo Acero Bolso Bombilla Y Latas</h3>
            <img src="../assets/mate5 set matero.jpg">
            <h3 class="precio">$18.999</h3>
            <button class="button-add">Agregar al carrito</button>
        </div>
    </div>

   
        
        
</body>

</html>