<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Catalogo</title>
    <link rel="stylesheet" href="../css/styles-catalogo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="menu">
            <nav class="menu">
                <a href="Inicio">Inicio</a>
                <a href="Catalogo">Catalogo</a>
                <a href="Cuidados del mate">Cuidados del mate</a>
                <a href="Contacto">Contacto</a>
            
            </nav>
        </div>
           
        
       
    </header>

<main>

    
    <div class="contenido">
        <div class="contenedor-producto">
            <h3>Mate Clasico De Acero Inoxidable Termico</h3>
            <img src="../assets/mate1.png">
            <h3 class="precio">$3.732</h3>
            <button class="button-comprar-add">Comprar</button>
            
        </div>

    
        <div class="contenedor-producto">
            <h3>Mate Imperial Cuero Virola Alpaca + Bombilla Regalo Premium</h3>
            <img src="../assets/mate2.png">
            <h3 class="precio">$7.699</h3>
            <button class="button-comprar-add">Comprar</button>
            
        </div>

        
        <div class="contenedor-producto">
            <h3>Mate Cuero Natural Reforzado + Bombilla</h3>
            <img src="../assets/mate3.png">
            <h3 class="precio">$2.790</h3>
            <button class="button-comprar-add">Comprar</button>
            
        </div>

    
        <div class="contenedor-producto">
            <h3>Termo Stanley Clásico 1.4 LTS con Tapón Cebador de acero inoxidable</h3>
            <img src="../assets/termo stanley.png">
            <h3 class="precio">$22999</h3>
            <button class="button-comprar-add">Comprar</button>
            
        </div>

        <div class="contenedor-producto">
            <h3>Matelisto Termo Autocebante</h3>
            <img src="../assets/mate 4 auto cebante.png">
            <h3 class="precio">$1.565</h3>
            <button class="button-comprar-add">Comprar</button>
            
        </div>
        
    
        <div class="contenedor-producto">
            <h3>Set Equipo Mate Completo Termo Acero Bolso Bombilla Y Latas</h3>
            <img src="../assets/mate5 set matero.png">
            <h3 class="precio">$18.999</h3>
            <button class="button-comprar-add">AGOTADO</button>
           
        </div>

        <div class="contenedor-producto">
            <h3>Bombilla Pico Loro Alpaca</h3>
            <img src="../assets/bombillas.png">
            <h3 class="precio">$2.999</h3>
            <button class="button-comprar-add">AGOTADO</button>
        </div>

        <div class="contenedor-producto">
            <h3>Termo Waterdog OBUS de acero inoxidable 1L</h3>
            <img src="../assets/termo-lusqtoff.png">
            <h3 class="precio">$11.299</h3>
            <button class="button-comprar-add">Comprar</button>
            
        </div>

        <div class="contenedor-producto">
            <h3>Bombilla Mate Acero Inoxidable Tanque Desarmable</h3>
            <img src="../assets/bombillas2.png">
            <h3 class="precio">$600</h3>
            <button class="button-comprar-add">Comprar</button>
            
        </div>


    </div>

</main>

<footer class="pie-pagina">
    <div class="titulo-footer">
        <h3>Tienda de mates y accesorios</h3>       
        
        <div class="redes-sociales">
            <img src="../assets/facebook-logo-24.png" alt="facebook">
            <img src="../assets/twitter-logo-24.png" alt="twitter">

        </div>       
    

    </div>

</footer>



</body>

</html>