<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//css/styles-general.css">
    <link rel="stylesheet" href="..//css/styles-cuidados.css">
    <title>Cuidados del mate</title>
    
</head>


<body>

    <header>
            <div class="logo">
                <img src="../assets/logo3.svg" alt="logo de la tienda">
            </div>
                
            <div class="menu">
                <nav class="menu1">
                    <a href="./Inicio.html" class="nav-menu-link nav-link">Inicio</a></li> 
                    <a href="./catalogo.html" class="nav-menu-link nav-link">Catalogo</a></li> 
                    <a href="./Cuidados.html" class="nav-menu-link nav-link">Cuidados del mate</a></li>
                    <a href="./formulario.html" class="nav-menu-link nav-link">Contacto</a></li> 
                
                </nav>
            </div>
    
            <div class="menu2">    
                <nav class="menu2">
                    <a href="#" class="nav-menu-link nav-link">Iniciar sesión</a></li>
                    <a href="#" class="nav-menu-link nav-link">Carrito</a></li>
                </nav>
            </div>    
    </header>

    <div class="container">
        <section id="contenido">
            <article class="curado">
                <h1>CURADO, CEBADO, LIMPIEZA</h1>
                <h2>¿Cómo curar un mate?</h2>
                <p>Colocar yerba húmeda dentro de la calabaza durante 24 horas con agua caliente. Luego retirar la yerba y rasparla calabaza con una cuchara para retirar el hollejo. El uso frecuente ayuda al proceso. NO lavar con agua y secar con una servilleta después de cada uso.</p>
            </article>
        </section>
        
        <section id="contenido">
            <article class="recomendaciones">
                <h2>Recomendaciones</h2>
                <p>Para cebar o utilizar el mate NO sobrepasar con agua el punto de c ontacto entre la virola y la calabaza, es decir, no llenarlo hasta el tope de agua. Ya que la virola cumple una función mas estética que funcional.
                </p>
            </article>
        </section>

        <section id="contenido">
            <article class="cebado">
                <ul>
                    <li><h2>¿Cómo cebar un buen mate?</h2>
                    <p><strong>PRIMERO</strong>: Llenar el mate en sus tres cuartas partes. Tapar con la mano y agitalo con la boca hacia abajo, logrando que los componentes de la molienda se mezclen equilibradamente y la yerba quede inclinada sobre el mate a 45° aproximadamente.</li>
                    <li><strong>SEGUNDO:</strong> Humedecer la yerba con agua tibia en esa pequeña cavidad que se formó sobre uno de los costados del mate. Espera a que la yerba absorba el agua y coloca la bombilla dentro del mate.</li>
                    <li><strong>TERCERO:</strong> Calienta el agua evitando que hierva: para cebar un buen mate es muy importante que nunca supere la temperatura de 80°C.</li>
                    <li><strong>CUARTO:</strong> Agregar el agua caliente del lado de la bombilla hasta que se llene 3/4 partes.</li> 
                    <li><strong>QUINTO</strong>: Disfruta el ritual de compartir con el otro, la magia de tomar mate.</p></li>
                </ul>       
            </article>

        </section>

        <section id="contenido">
            <article class="limpieza">
                <h2>¿Cómo se cuida un mate?</h2>
                <p>Evitar que quede líquido dentro de la calabaza, para prevenir la formación de hongos, para ésto es necesario dejar 2 paños de servilleta dentro para que absorva la humedad
                No dejar el mate con yerba usada más de 24 hs
                Únicamente lavarlo con un poco de agua, sólo la parte de la calabaza, para sacarle los restos de yerba. Evitando así que la yerba que queda sobre el mate no se descomponga.
                No dejarlo secar boca abajo, menos cuando tiene un poco de líquido dentro, ya que éste caerá sobre la virola.
                Evitar mojar el cuero que recubre la calabaza y dejarlo al sol directo. Éstos dos provocan que se reseque y se agriete el cuero.
                Evitar golpes, para que la virola no se afloje y para que no se quiebre la calabaza.</p>
            </article>
        </section>

        <aside id="img-cuidado">
            <img src="../assets/recomendacion.png" alt="img cuidado">
        </aside>
        
    </div>
    
</body>
</html>