<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Patrones Responsive Web Design</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles-form.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="contenedor con-sidebar">
        <article>
            <h1>CONOCENOS..!</h1>
            <img src="../assets/matesformulario.jpg" class="imgformulario" width="550px" height="400px" alt="matesvarios">
            
            <div >
                <h1> Comunicate con nosotros</h1>
                <form action="registro" method="post">

                    
                    <label for="motivo">MOTIVO</label>
                    <select type="select" name="motivo" placeholder="Selecciona un motivo" id="motivo">
                        <option disabled selected>Selecciona un motivo</option>
                        <option value="canc_compra">Cancelar Compra</option>
                        <option value="camb_dev">Cambios y devoluciones</option>
                        <option value="envios_pedido">Envío de pedidos</option>
                        <option value="cotros">Otra información</option>
                    </select> 
                
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido">
            
                    <label for="direccion">Dirección</label>
                    <textarea type="text" id="" cols="30" rows="5"></textarea>
                    
                    <label for="correo">Email</label>
                    <input type="email" id="correo" name="correo" >
                    
                    <input type="submit" value="Submit">
                
                </form>
            </div>
        </article>
        <aside>
            <div class="contenedor1">
                <h2>Sobre Nosotros</h2>
                <p><b>TIENDA DE MATES</b> es una empresa creada por Codo a Codo impulsada por nuestra pasión y amor por esta costumbre tan nuestra que tenemos todos los Argentinos: ¡EL MATE!.</p><br>
                
                <h2>Misión</h2>
                <p> Nos dedicamos a la venta de todo tipo de productos para matear: mates, bombillas, termos, yerbas, materas, bolsos.. ¡Y mucho más!<br>
                Nuestra misión y objetivo principal es aprobar y además brindarles siempre lo mejor para que ustedes puedan disfrutar al máximo de este ritual que tanto queremos y tan felices nos hace.</p>
                </div>
            
        </aside>

    </div>

</body>

</html>
