<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Styles-Inicio.css">
    <title>Tienda de mates & accesorios</title>
</head>

<body>

    <header class="encabezado">
        <div class="contenedor-navegacion">
            <div class="contenido-navegacion-contenedor">
                <div id="logo">
                    <img src="../assets/logo3.svg">
                </div>
            </div>
        </div>

        <nav>
            <ul class="navegacion">
                <li>
                    <a href="#" class="nav-menu-link nav-link">Inicio</a></li>
                <li>
                    <a href="#" class="nav-menu-link nav-link">Catálogo</a></li>
                <li>
                    <a href="#" class="nav-menu-link nav-link">Cuidados del mate</a></li>
                <li>
                    <a href="#" class="nav-menu-link nav-link">Contacto</a></li>

            </ul>
        </nav>         

        <nav>
            <ul class="primer-menu">
                <li class="primer-menu-item">
                    <a href="#" class="nav-menu-link nav-link">Iniciar sesión</a></li>
                <li class="primer-menu-item">
                    <a href="#" class="nav-menu-link nav-link">Carrito</a></li>
                

            </ul>

        </nav>
      
             
    </header> 
    
</body>
</html>